Repository CowDogMoo/taskfile-templates, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/pre-commit, area/license, area/readme, area/taskfiles

Update meta-sync-labels to generate PAT
  .github/workflows/meta-sync-labels.yaml
Labels: area/github

Add repo root taskfile
  README.md
  Taskfile.yaml
Labels: area/readme

Add LICENSE
  LICENSE
Labels: area/license

Pretty README
  README.md
Labels: area/readme

Improved gitignore
  .gitignore
Labels: none

Fixed bug in pre-commit action
  .github/workflows/pre-commit.yaml
Labels: area/github

Fixed taskfile path typo
  .github/renovate.json5
  README.md
Labels: area/github, area/readme

Fixed taskfile path typo
  .github/renovate.json5
  .github/workflows/pre-commit.yaml
  README.md
Labels: area/github, area/readme

Added new Taskfile for automating Ansible linting and Molecule tests.
  ansible/Taskfile.yaml
Labels: none

Added create-release to global automation tasks
  Taskfile.yaml
Labels: none

Added GitHub release task
  Taskfile.yaml
  github/Taskfile.yaml
Labels: none

Updated README to reflect new tasks
  README.md
Labels: area/readme

Add show-diff-on-failure to run-hooks task
  pre-commit/Taskfile.yaml
Labels: none

Add support for GitHub submodules and CLI validation
  github/Taskfile.yaml
Labels: none

Add remove-github-submodule task to Taskfile
  github/Taskfile.yaml
Labels: none

Add better handling for add-github-submodules task
  github/Taskfile.yaml
Labels: none

Fixed pluralization inconsistencies
  github/Taskfile.yaml
Labels: none

Fixed potentially confusing task naming scheme
  github/Taskfile.yaml
Labels: none

Figuring out env vars for remote taskfiles
  github/Taskfile.yaml
Labels: none

Add more robust error checks and handling to remove-git-submodules task
  github/Taskfile.yaml
Labels: none

Set debug requirement for verbose output
  github/Taskfile.yaml
Labels: none

Fixed error in remove-git-submodules task
  github/Taskfile.yaml
Labels: none

Created new `terraform` task file with Terragrunt-specific commands.
  README.md
  terraform/Taskfile.yaml
Labels: area/readme

Added optional destroy to terratest task
  terraform/Taskfile.yaml
Labels: none

Add README for terraform tasks
  terraform/README.md
Labels: none

Add renovate task
  renovate/Taskfile.yaml
Labels: none

Fixed syntax issues with renovate task
  renovate/Taskfile.yaml
Labels: none

Created Docker validation task for Renovate with enhanced flexibility.
  renovate/Taskfile.yaml
Labels: none

Enhanced repository validation for Renovate task automation.
  renovate/Taskfile.yaml
Labels: none

Added `merge-pull-requests` task to Taskfile for auto-merging PRs
  github/Taskfile.yaml
Labels: none

Enhanced `merge-pull-requests` task with conflict handling and logging
  github/Taskfile.yaml
Labels: none

Updated merge-pull-requests to only merge if all tests passing
  github/Taskfile.yaml
Labels: none

Fixed merge-pull-requests handling of failing PRs
  github/Taskfile.yaml
Labels: none

Updated README to fix grammar and enhance task descriptions.
  README.md
Labels: area/readme

Processed repository URLs for deduplicated submodule paths in Taskfile
  github/Taskfile.yaml
Labels: none

Created verbose mode for `run-terratest` task in Taskfile
  terraform/Taskfile.yaml
Labels: none

Updated `run-terratest` task to support enhanced logging and improved README
  terraform/README.md
  terraform/Taskfile.yaml
Labels: none

Added tasks for linting, changelog management, and Terraform release process
  terraform/Taskfile.yaml
Labels: none

Add create release with notes task
  github/Taskfile.yaml
Labels: none

Fixed broken terragrunt tasks; added new terragrunt init task
  terraform/Taskfile.yaml
Labels: none

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"

area/pre-commit:
  - changed-files:
      - any-glob-to-any-file: ".pre-commit-config.yaml"
      - any-glob-to-any-file: ".hooks/**/*"

area/license:
  - changed-files:
      - any-glob-to-any-file: "LICENSE"

area/readme:
  - changed-files:
      - any-glob-to-any-file: "README.md"

area/taskfiles:
  - changed-files:
      - any-glob-to-any-file: ".taskfiles/**/*"
