Repository CowDogMoo/taskfile-templates, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/pre-commit, area/license, area/readme, area/taskfiles

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"

area/pre-commit:
  - changed-files:
      - any-glob-to-any-file: ".pre-commit-config.yaml"
      - any-glob-to-any-file: ".hooks/**/*"

area/license:
  - changed-files:
      - any-glob-to-any-file: "LICENSE"

area/readme:
  - changed-files:
      - any-glob-to-any-file: "README.md"

area/taskfiles:
  - changed-files:
      - any-glob-to-any-file: ".taskfiles/**/*"

feat: refactor Taskfile structure & improve pre-commit tasks organization
  Taskfile.yaml
  pre-commit/Taskfile.yaml
Labels: none

feat: Enhance Ansible Taskfile docs, add check-ansible & improve usability
  ansible/README.md
  ansible/Taskfile.yaml
Labels: none

feat(terraform): improve Taskfile & docs, add lint/format, remove changelog tasks
  terraform/README.md
  terraform/Taskfile.yaml
Labels: none

feat: Add reusable Taskfile-based Packer workflows with docs
  packer/README.md
  packer/Taskfile.yaml
Labels: none

feat: Add reusable Taskfile-based Packer workflows with docs (#140)
  packer/README.md
  packer/Taskfile.yaml
Labels: none

feat: expand Renovate Taskfile docs, add renovate-lint task
  renovate/README.md
  renovate/Taskfile.yaml
Labels: none

feat: Improve packer taskfile to support blueprints and var injection
  packer/Taskfile.yaml
Labels: none

feat: Add comprehensive Taskfile automation for Packer workflows
  packer/Taskfile.yaml
Labels: none

feat: Add Task for multi-arch Docker image push with manifest handling
  docker/Taskfile.yaml
Labels: none

feat: Optimize multi-arch push with idempotency & smarter auth checks
  docker/Taskfile.yaml
Labels: none

feat: add `clean-packer-manifest` task to remove Docker manifest files
  packer/Taskfile.yaml
Labels: none

fix: Updated task name for uniformity
  packer/Taskfile.yaml
Labels: none

chore: Add mising required var
  packer/Taskfile.yaml
Labels: none

feat: Update Packer docs: new tasks, usage, improved template paths
  packer/README.md
Labels: none

feat: Enhance packer-init task with flexible template, vars, and error handling
  packer/Taskfile.yaml
Labels: none

fix: Bug in packer-init
  packer/Taskfile.yaml
Labels: none

feat: Improve submodule sync for reliability and automation
  github/Taskfile.yaml
Labels: none

feat: update pre-commit workflow with environment vars and cache
  .github/workflows/pre-commit.yaml
Labels: area/github

fix: Syntactical bug fixes
  .github/workflows/pre-commit.yaml
Labels: area/github

feat: update renovate config and workflow for improved automation
  .github/renovate.json5
  .github/workflows/renovate.yaml
Labels: area/github

feat: update pre-commit workflow with environment vars and cache (#145)
  .github/renovate.json5
  .github/workflows/pre-commit.yaml
  .github/workflows/renovate.yaml
Labels: area/github

chore: Formatting and consistency
  docker/Taskfile.yaml
Labels: none

feat: add yaml-language-server schema references to all Taskfile.yaml files
  Taskfile.yaml
  ansible/Taskfile.yaml
  aws/Taskfile.yaml
  docker/Taskfile.yaml
  github/Taskfile.yaml
  k8s/Taskfile.yaml
  packer/Taskfile.yaml
  pre-commit/Taskfile.yaml
  renovate/Taskfile.yaml
  secrets/Taskfile.yaml
  secrets/local/Taskfile.yaml
  secrets/onepassword/Taskfile.yaml
  terraform/Taskfile.yaml
  unifi/Taskfile.yaml
Labels: none

feat: Improve terragrunt command handling with wildcard and run-all support
  terraform/Taskfile.yaml
Labels: none

fix: Update deprecated terragrunt params
  terraform/Taskfile.yaml
Labels: none

fix: Remove deprecated run-all from terraform Taskfile
  terraform/Taskfile.yaml
Labels: none

feat: Add reusable Taskfile templates and docs for pre-commit integration
  pre-commit/README.md
  pre-commit/Taskfile.yaml
Labels: none

feat: Add terraform-init task and ensure Terratest infra is initialized
  terraform/Taskfile.yaml
Labels: none

fix: Update REGION vars to default to AWS_DEFAULT_REGION
  terraform/Taskfile.yaml
Labels: none

fix: Add new terratest-init task
  terraform/Taskfile.yaml
Labels: none

fix: Bug in terratest-init
  terraform/Taskfile.yaml
Labels: none

feat: Enhance docker task automation & documentation, add cleanup & multi-arch
  docker/README.md
  docker/Taskfile.yaml
Labels: none

feat: expand README with env vars, config, and taskfile overview
  README.md
Labels: area/readme

feat: expand README with env vars, config, and taskfile overview (#149)
  README.md
Labels: area/readme

feat: Enhance GitHub Taskfile templates with GHCR support and improved docs
  github/README.md
  github/Taskfile.yaml
Labels: none

feat: Improve submodule addition by handling cleanup and flexibility
  github/Taskfile.yaml
Labels: none

feat: Add verbose Terragrunt support, improve tasks & descriptions
  terraform/Taskfile.yaml
Labels: none

feat: Add music Taskfile for WAV→MP3 conversion with README usage docs
  music/README.md
  music/Taskfile.yaml
Labels: none

feat: Add advanced core Terraform workflow automation and docs
  terraform/README.md
  terraform/Taskfile.yaml
Labels: none

feat: Add advanced core Terraform workflow automation and docs (#154)
  terraform/README.md
  terraform/Taskfile.yaml
Labels: none
