Repository CowDogMoo/taskfile-templates, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/pre-commit, area/license, area/readme, area/taskfiles

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"

area/pre-commit:
  - changed-files:
      - any-glob-to-any-file: ".pre-commit-config.yaml"
      - any-glob-to-any-file: ".hooks/**/*"

area/license:
  - changed-files:
      - any-glob-to-any-file: "LICENSE"

area/readme:
  - changed-files:
      - any-glob-to-any-file: "README.md"

area/taskfiles:
  - changed-files:
      - any-glob-to-any-file: ".taskfiles/**/*"

feat: modularize k8s Taskfile and add dedicated gitops and helm sub-taskfiles
  k8s/Taskfile.yaml
  k8s/gitops/Taskfile.yaml
  k8s/gitops/argo/Taskfile.yaml
  k8s/gitops/flux/Taskfile.yaml
  k8s/helm/Taskfile.yaml
Labels: none

feat: add advanced flux management tasks and standardize task naming
  k8s/gitops/argo/Taskfile.yaml
  k8s/gitops/flux/Taskfile.yaml
Labels: none

docs: update k8s task documentation for expanded gitops and helm workflows
  k8s/README.md
Labels: none

refactor: flatten gitops tasks and improve CLI tool checks
  k8s/README.md
  k8s/Taskfile.yaml
  k8s/gitops/Taskfile.yaml
  k8s/gitops/flux/Taskfile.yaml
  k8s/helm/Taskfile.yaml
Labels: none

feat: modularize k8s Taskfile and enhance CLI checks (#160)
  k8s/README.md
  k8s/Taskfile.yaml
  k8s/gitops/argo/Taskfile.yaml
  k8s/gitops/flux/Taskfile.yaml
  k8s/helm/Taskfile.yaml
Labels: none

feat: add markdownlint config and error pod cleanup task
  .hooks/linters/markdownlint.json
  .hooks/linters/mdstyle.rb
  .pre-commit-config.yaml
  k8s/Taskfile.yaml
Labels: area/pre-commit

feat: add support for running molecule tests for specific roles via ROLES variable
  ansible/README.md
  ansible/Taskfile.yaml
Labels: none

refactor: rename renovate task targets for clarity and consistency
  renovate/README.md
  renovate/Taskfile.yaml
Labels: none

fix: correct branch variable usage to consistently use templated value
  renovate/Taskfile.yaml
Labels: none

docs: update renovate usage docs and clarify optional variables
  renovate/README.md
  renovate/Taskfile.yaml
Labels: none

refactor: simplify renovate taskfile and update documentation for local testing
  renovate/README.md
  renovate/Taskfile.yaml
Labels: none

refactor: improve renovate config file detection and summary output
  renovate/Taskfile.yaml
Labels: none

feat: add sync tasks for OCIRepositories and ExternalSecrets with improved annotation logic
  k8s/README.md
  k8s/gitops/flux/Taskfile.yaml
Labels: none

feat: improve error pod deletion with better state detection and feedback
  k8s/Taskfile.yaml
Labels: none

**feat: Improve handling of UBIQUITI\_CONTROLLER\_HOST in Taskfile**
  unifi/Taskfile.yaml
Labels: none

**feat: Improve handling of UBIQUITI\_CONTROLLER\_HOST in Taskfile** (#170)
  unifi/Taskfile.yaml
Labels: none

feat: add interactive pr-merge task for squash merging current branch's PR
  github/README.md
  github/Taskfile.yaml
Labels: none

feat: add interactive pr-merge task for squash merging current branch's PR (#176)
  github/README.md
  github/Taskfile.yaml
Labels: none

feat: add tasks to create and delete 1Password items with custom fields
  secrets/onepassword/Taskfile.yaml
Labels: none

docs: add usage for secure note creation and item deletion in 1Password tasks
  secrets/README.md
  secrets/onepassword/Taskfile.yaml
Labels: none

docs: document delete-error-pods task for managing error state pods
  k8s/README.md
Labels: none

fix: handle field splitting robustly in secure note creation task
  secrets/onepassword/Taskfile.yaml
Labels: none

refactor: improve field parsing in op item create task for better reliability
  secrets/onepassword/Taskfile.yaml
Labels: none

feat: add generic 1password item creation task and improve secure note field parsing
  secrets/onepassword/README.md
  secrets/onepassword/Taskfile.yaml
Labels: none

feat: support type suffix for field values in 1password task
  secrets/onepassword/Taskfile.yaml
Labels: none

fix: allow creation of fields with empty values in op item creation
  github/README.md
  k8s/README.md
  secrets/onepassword/README.md
  secrets/onepassword/Taskfile.yaml
Labels: none

build: update docker include to use advanced syntax with internal flag
  renovate/Taskfile.yaml
Labels: none

docs: add comprehensive Go Taskfile usage and documentation
  go/README.md
  go/Taskfile.yaml
Labels: none

fix: simplify and improve prettier pre-commit hook script
  .hooks/prettier.sh
  .pre-commit-config.yaml
Labels: area/pre-commit

feat: add comprehensive ansible collection development and management tasks
  ansible/README.md
  ansible/Taskfile.yaml
Labels: none

feat: add task to delete ec2 instance by id with dry run and wait options
  aws/README.md
  aws/Taskfile.yaml
Labels: none

feat: add recent-branches and recent-projects tasks for git activity tracking
  github/README.md
  github/Taskfile.yaml
Labels: none

feat: improve molecule test task with smart scenario detection and summary reporting
  ansible/README.md
  ansible/Taskfile.yaml
Labels: none

feat: add filter option to list-running-instances task for EC2 search
  aws/README.md
  aws/Taskfile.yaml
Labels: none

refactor: standardize default AWS region and DRY_RUN handling in Taskfile
  aws/README.md
  aws/Taskfile.yaml
Labels: none

feat: add per-package and overall test coverage reporting task
  go/README.md
  go/Taskfile.yaml
Labels: none

fix: improve go test coverage reporting for package names
  go/Taskfile.yaml
Labels: none

fix: require ARGOCD_PASSWORD for argo admin task and add schema hint to music Taskfile
  k8s/gitops/argo/Taskfile.yaml
  music/Taskfile.yaml
Labels: none

feat: add setup-buildx, login, and inspect-manifest tasks for Docker workflows
  docker/README.md
  docker/Taskfile.yaml
Labels: none

test: add GitHub Actions workflows for testing all Taskfile tasks in CI
  .github/workflows/test-ansible-tasks.yaml
  .github/workflows/test-docker-tasks.yaml
  .github/workflows/test-github-tasks.yaml
  .github/workflows/test-go-tasks.yaml
  .github/workflows/test-k8s-tasks.yaml
  .github/workflows/test-packer-tasks.yaml
  .github/workflows/test-pre-commit-tasks.yaml
  .github/workflows/test-renovate-tasks.yaml
  .github/workflows/test-secrets-tasks.yaml
  .github/workflows/test-terraform-tasks.yaml
Labels: area/github
